<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Hello World</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="Home.css" />
   <script defer src="Home.js"></script>
   </head>
 <body>
  <header>
   <h1>Spring Boot 勉強中！</h1>
   <p>
     <span th:text="${message}"></span>
	 あなたは<span th:text="${gestnum}"></span>人目の来訪者
   </p>
   </header>
   <main>
	 <h2 class="main" id="mainView">メイン	</h2>
	 <iframe class="main hidden" id="listView" src="list" frameborder="0" style="border: none"></iframe>
   </main>
   <aside>
	<input type="checkbox" id="menu_toggle" class="hidden">
	<label for="menu_toggle" class="menu_button">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</label>
	<nav class="menu_bar">
		<h2 class="menu" data-param='#mainView'>メニュー</h2>
		<div class="menu" id="list" data-param='#listView'>DB(NumRec)データ一覧</div>
	</nav>
   </aside>
   
   <footer>
	フッター
   </footer>
 </body>
</html>