<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>作業用WEBサイト（作成中）</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://localhost:8080/common.css" />
	<link rel="stylesheet" href="http://localhost:8080/main.css" />
	<script defer src="http://localhost:8080/main.js"></script>
</head>

<body>
	<header>
		<span>作業用ホームページ</span>
	</header>
	<main>
		<div class="tab_selector">
			<input type="radio" name="tab_selector" class="tab_radio hidden" id="main_radio"
				data-contents="#main_contents" checked>
			<label for="main_radio">HOME</label>
			<input type="radio" name="tab_selector" class="tab_radio hidden" id="memo_radio"
				data-contents="#memo_contents">
			<label for="memo_radio">MEMO</label>
			<input type="radio" name="tab_selector" class="tab_radio hidden" id="task_radio"
				data-contents="#task_contents">
			<label for="task_radio">TASK</label>
			<input type="radio" name="tab_selector" class="tab_radio hidden" id="slack_radio"
				data-contents="#slack_contents">
			<label for="slack_radio">SLACK</label>
		</div>
		<div class="contents" id="main_contents">たぶ１の内容</div>
		<div class="contents hidden" id="memo_contents">
			<iframe src="memo/"></iframe>
		</div>
		<div class="contents hidden" id="task_contents">
			<iframe src="task/"></iframe>
		</div>
		<div class="contents hidden" id="slack_contents">		
		<iframe src="slack/"></iframe></div>
	</main>
	<linkarea>
		<dialog class="dialog">
			<p class="hidden" id="dialog_message">成功しました<br>2秒後に自動で閉じます</p>
			<iframe class="frame"></iframe>
			<form method="dialog">
				<input type="submit" value="閉じる">
			</form>
		</dialog>
		<span>リンク集</span>
		<table>
			<tr>
				<th class="width70" />
				<th class="width15" />
				<th class="width15" />
			</tr>
			<tr th:each="list : ${links}" th:object="${list}">
				<td><a class="link" th:href="*{url}" th:text="*{title}"></a></td>
				<td>
					<input type="button" class="update_button" th:data-uid="*{uid}">
				</td>
				<td>
					<input type="button" class="delete_button" th:data-uid="*{uid}">
				</td>
			</tr>
		</table>
		<input type="button" class="insert_button" value="+">
	</linkarea>
	<footer>
		<span>フッター</span>
	</footer>
</body>

</html>