<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>メモ操作画面</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/common.css" />
	<link rel="stylesheet" href="/memo/memo_action.css" />
	<script defer src="/memo/memo_action.js"></script>
</head>

<body>

	<span th:text="'メモ'+${action_jp}"></span>
	<p class="result"></p>
	<form method="post" th:action="'/memo/'+${action}+'/result'" id="form">

		<input type="text" name="uid" class="hidden" th:value="${memo.uid}">
		<table>
			<tr>
				<td>タイトル：</td>
				<td>
					<input type="text" class="entry_field" name="title" th:value="${memo.title}">
				</td>
			</tr>
			<tr>
				<td>タグ：</td>
				<td>
					<select name="tagCd" class="entry_field">
						<th:block th:each="list : ${tags}" th:object="${list}">
							<th:block th:if="${memo.tagCd} == *{cd}">
								<option th:label="*{name}" th:value="*{cd}" selected />
							</th:block>
							<th:block th:if="${memo.tagCd} != *{cd}">
								<option th:label="*{name}" th:value="*{cd}" />
							</th:block>
						</th:block>
					</select>
				</td>
			</tr>
			<tr>
				<td>内容：</td>
				<td>
					<textarea cols="60" rows="15" class="big entry_field" name="details" th:text="${memo.details}"></textarea>
				</td>
			</tr>
		</table>
		<input type="submit" th:value="${action_jp}">
	</form>


</body>

</html>