<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SLACK</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/common.css" />
	<link rel="stylesheet" href="/slack/slack.css" />
	<script defer src="/slack/slack.js"></script>
</head>

<body>
	<span>SeeDステータス更新</span>
	<span class=".result"></span>
	<div class="status_selector">
		<button class="insert_button frame simple">
			+
		</button>
		<button class="left_button frame simple hidden" id="seed_left" data-idh="#seed_">
			＜
		</button>
		<div class="horizontal_scrolling" id="seed_status">
			<th:block th:each="status : ${statuses}" th:object="${status}">
				<form method="post" action="status-update/SeeD">
					<input type="text" name="message" th:value="*{message}" hidden=ture>
					<input type="text" name="statusEmoji" th:value="*{statusEmoji}" hidden=ture>
					<input type="text" name="time" th:value="*{time}" hidden=ture>
					<input type="submit" th:id="'form_'+*{uid}" hidden=ture>
					<button type="submit" class="update_status frame" th:data-uid="*{uid}">
						<p th:text="*{title}"></p>
						<p th:text="*{time}"></p>
					</button>
					<input type="button" class="update_button" th:data-uid="*{uid}">
					<input type="button" class="delete_button" th:data-uid="*{uid}">
				</form>
			</th:block>
		</div>
		<button class="right_button frame simple" id="seed_right" data-idh="#seed_">
			＞
		</button>
	</div>
	<span>参画先ステータス更新</span>
	<span class=".result"></span>
	<div class="status_selector">
		<button class="insert_button frame simple">
			+
		</button>
		<button class="left_button frame simple hidden" id="work_place_left" data-idh="#work_place_">
			＜
		</button>
		<div class="horizontal_scrolling" id="work_place_status">
			<th:block th:each="status : ${statuses}" th:object="${status}">
				<form method="post" action="status-update/work-place">
					<input type="text" name="message" th:value="*{message}" hidden=ture>
					<input type="text" name="statusEmoji" th:value="*{statusEmoji}" hidden=ture>
					<input type="text" name="time" th:value="*{time}" hidden=ture>
					<input type="submit" th:id="'form_'+*{uid}" hidden=ture>
					<button type="submit" class="update_status frame" th:data-uid="*{uid}">
						<p th:text="*{title}"></p>
						<p th:text="*{time}"></p>
					</button>
					<input type="button" class="update_button" th:data-uid="*{uid}">
					<input type="button" class="delete_button" th:data-uid="*{uid}">
				</form>
			</th:block>
		</div>
		<button class="right_button frame simple" id="work_place_right" data-idh="#work_place_">
			＞
		</button>
	</div>

</body>

</html>