@charset "UTF-8";

body {
	grid-area: B;
	background-color: black;
	color: aliceblue;
	padding: 15px;
	height: 75vh;
	overflow-y: scroll;
}

insert_button {
	padding: 10px;
}

input.update_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/pen.png);
	cursor: pointer;
}

input.update_button:hover {
	background-image: url(../img/pen_on.png);
}

input.copy_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/copy.png);
	cursor: pointer;
}

input.copy_button:hover {
	background-image: url(../img/copy_on.png);
}

input.record_update_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/pen.png);
	cursor: pointer;
}

input.record_update_button:hover {
	background-image: url(../img/pen_on.png);
}

input.record_delete_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/dustbox.png);
	cursor: pointer;
}

input.record_delete_button:hover {
	background-image: url(../img/dustbox_on.png);
}

div.task_title {
	border: 1px solid rgb(255, 255, 255);
	width: 99%;
}

div.task_body {
	border: 1px solid rgb(255, 255, 255);
	width: 99%;
}

div.task_ol {
	text-align: center;
	border: 1px solid rgb(255, 255, 255);
	width: 99%;
}

.task {
	padding: 5px;
}

.task_outline {
	width: 99%;
}

label:has(input) {
	cursor: pointer;
}

label:has(input:checked)+p {
	display: none;
}

label:has(input:checked)+div {
	display: none;
}

div.process_1 {
	display: flex;
}

table {
	table-layout: fixed;
	width: 100%;
}

table td:nth-of-type(1) {
	text-align: left;
}

table td:nth-of-type(2) {
	display: flex;
	justify-content:
		flex-end;
}