@charset "UTF-8";

body {
	display: grid;
	margin: 0;
	padding: 1vh;
	grid-template:
		"A A" auto
		"B C" 1fr
		"D D" auto /
		0.8fr 0.2fr;
	min-height: 98vh;
}

header {
	grid-area: A;
	display: flex;
	background-color: darkgreen;
	color: black;
	font-size: 20px;
	text-align: center;
	min-height: 5vh;

}

main {
	grid-area: B;
	background-color: rgb(192, 192, 192);
	color: rgb(64, 0, 64);
	padding: 15px;
	height: 85vh;
	overflow-y: scroll;
}

linkarea {
	grid-area: C;
	background-color: azure;
	color: black;
	text-align: center;
	padding: 15px;
	height: 85vh;
	overflow-y: scroll;
}

footer {
	grid-area: D;
	background-color: darkgrey;
	color: black;
	text-align: right;
	height: 3vh;
}


.tab_selector {
	text-align: center;
}

.tab_selector label {
	background-color: dimgray;
	padding-inline: 40px;
	padding-top: 10px;
	font-size: 20px;
}

.tab_radio:checked+label {
	background-color: aliceblue;
	color: black;
}

.contents {
	background-color: aliceblue;
	color: black;
	padding-top: 20px;
	min-height: 78vh;
}

table {
	table-layout: fixed;
	width: 100%;
}

th.width70 {
	width: 70%;
}

th.width15 {
	width: 15%;
}

td {
	text-align: left;
}

input.update_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(/img/pen.png);
	cursor: pointer;
}

input.update_button:hover {
	background-image: url(/img/pen_on.png);
}

input.delete_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(/img/dustbox.png);
	cursor: pointer;
}

input.delete_button:hover {
	background-image: url(/img/dustbox_on.png);
}

input.insert_button {
	width: 100%;
}

dialog {
	width: auto;
	height: auto;
}

dialog iframe {
	width: 100%;
	height: 90%;
	border: none;

}

iframe+form input {
	width: 100%;
}

.contents iframe {

	width: 100%;
	height: 75vh;
	border: none;
	padding: 0;

}