@charset "UTF-8";

body {
	background-color: black;
	color: aliceblue;
	padding: 15px;
	height: 75vh;
	overflow-y: scroll;
}

div.status_selector {
	display: flex;
	height: 70vh;
}

div.horizontal_scrolling {
	display: flex;
	padding-inline: 10px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

button.frame {
	background-color: black;
	color: aliceblue;
	min-width: 100px;
	height: 100%;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;

}

div.frame {
	background-color: black;
	color: aliceblue;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
	min-width: 300px;
	margin-inline: 5px;
}

button.frame.simple {
	font-size: 50px;
	height: 100%;

}

button.frame p {
	line-height: 20px;
	font-size: 20px;
}

button.frame:hover {
	color: black;
	background-color: aliceblue;
}

input.update_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(/img/pen.png);
	cursor: pointer;
}

input.update_button:hover {
	background-image: url(/img/pen_on.png);
}

input.delete_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(/img/dustbox.png);
	cursor: pointer;
}

input.delete_button:hover {
	background-image: url(/img/dustbox_on.png);
}

input.copy_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(/img/copy.png);
	cursor: pointer;
}

input.copy_button:hover {
	background-image: url(/img/copy_on.png);
}