@charset "UTF-8";

body {
	grid-area: B;
	background-color: black;
	color: aliceblue;
	padding: 15px;
	height: 75vh;
	overflow-y: scroll;
}

div.status_selector {
	display: flex;
}

div.horizontal_scrolling {
	padding-inline: 10px;
	max-height: 670px;
	overflow-x: hidden;
}

div.frame {
	width: 100px;
	height: 150px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 25px;
}

div.frame:hover {
	color: black;
	background-color: aliceblue;
}

div.insert_button {
	text-align: center;
}

div.insert_button span {
	line-height: 150px;
	font-size: 50px;
}


input.update_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/pen.png);
}

input.update_button:hover {
	background-image: url(../img/pen_on.png);
}

input.delete_button {
	width: 26px;
	height: 26px;
	color: rgba(0, 0, 0, 0);
	background-image: url(../img/dustbox.png);
}

input.delete_button:hover {
	background-image: url(../img/dustbox_on.png);
}