@charset "UTF-8";

body {
  display: grid;
  margin: 0;
  padding: 0;
grid-template:
    "A A" auto
    "B C" 1fr
    "D D" auto /
     auto 1fr ;

  /* 縦に小さい画面でフッターを画面下に配置するテクニック */
  min-height: 100vh;
}

header {
  grid-area: A;
}
aside {
  grid-area: B;
}
main {
  grid-area: C;
}

footer {
  grid-area: D;
}

/* ヘッダー部分 */
header {

background-color: rgb(128, 128, 128); /* 灰色 */
  text-align: center; /* 中央寄せ */
  padding: 16px; /* 余白 */
}

/* メイン部分 */
main {
  padding: 32px;
}

main img {
  width: 100%;
  height: auto;
}

/* 右サイド部分 */
aside {
  background-color: rgb(128, 255, 255);
  padding: 16px 32px; /* 余白 */
}

/* フッター部分 */
footer {
  background-color: rgb(128, 128, 128); /* 灰色 */
  text-align: center; /* 中央寄せ */

 padding: 16px; /* 余白 */
}
.hidden {
  display: none;
}
.menu_bar {
  display: none;
  position: relative;
  top: 0;
  left: -100%;
  width: 100%;
  height: auto;
  background-color: rgb(128, 255, 255);
  transition: 0.4s;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  animation-name: menu_bar_anime;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes menu_bar_anime{
  0%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #333;
  transition: 0.4s;
}
.menu_button {
  display: block;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
}

#menu_toggle:checked ~ .menu_button .bar:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 3px);
}

#menu_toggle:checked ~ .menu_button .bar:nth-child(2) {
  opacity: 0;
}

#menu_toggle:checked ~ .menu_button .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -13px);
}



#menu_toggle:checked ~ .menu_bar {
	display: inline;	
}